.classpath
.project
.settings
bootstrap/local-hsqldb/schedassistdb.*
build.properties
target
sched-assist-api/.classpath
sched-assist-api/.project
sched-assist-api/.settings
sched-assist-api/target
sched-assist-mock/.classpath
sched-assist-mock/.project
sched-assist-mock/.settings
sched-assist-mock/target
sched-assist-portlet/.classpath
sched-assist-portlet/.project
sched-assist-portlet/.settings
sched-assist-portlet/src/main/resources/scheduling-assistant.properties
sched-assist-portlet/target
bw-sometime-spi/.classpath
bw-sometime-spi/.project
bw-sometime-spi/.settings
bw-sometime-spi/target
bw-sometime-spi-caldav/.classpath
bw-sometime-spi-caldav/.project
bw-sometime-spi-caldav/.settings
bw-sometime-spi-caldav/src/test/resources/integration.properties
bw-sometime-spi-caldav/target
bw-sometime-spi-relationships/.classpath
bw-sometime-spi-relationships/.project
bw-sometime-spi-relationships/.settings
bw-sometime-spi-relationships/target
sched-assist-war/.classpath
sched-assist-war/.project
sched-assist-war/.settings
sched-assist-war/src/main/resources/scheduling-assistant.properties
sched-assist-war/target